<!-- CTA -->
<div class="container mx-auto {{ content.decoration.background }}">
      <div class="px-8 py-20 lg:flex lg:justify-center">
        <div class="text-center">
          {{ content.headline|raw }}
            {{ content.text|raw }}
          <div class="items-center justify-center mt-4 lg:flex">
            {{ content.button|raw }}
          </div>
        </div>
      </div>
    </div>