<!-- containered section -->
<section class="{{ content.decoration.background }}">
    <div class="max-w-5xl m-auto flex">
        {% for item in content.items %}
            <div class="flex-auto">
                {{ item|raw }}
            </div>
        {% endfor %}
    </div>
</section>